#root {
  margin: 0 auto;
  padding: 2rem;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.chat-box {
  width: 1000px;
  height: 500px;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  border-bottom: 1px solid #444;
  width: 1000px;
}
