#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.chat-dropdown-hover:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinning-border {
  animation: spin 2s linear infinite;
}
